<h3>Create/Edit Game</h3>
<form>

    <div class="card">
      <div class="card-body">
        <div class="card-title">Teams</div>
        <div class="form-group">
            <label>Home Team</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label">
              Home Team No Show?
            </label>
          </div>
          <div class="form-group">
            <label>Organizer</label>
            <input type="text" class="form-control">
          </div>        
          <div class="form-group">
            <label>Away Team</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label">
              Away Team No Show?
            </label>
          </div>
          <div class="form-group">
            <label>Division/Age Group</label>
            <input type="text" class="form-control">
          </div>
        </div>
    </div>   

    <div class="card">
        <div class="card-body">
          <div class="card-title">Schedule</div>

    <div class="form-group">
        <label>Location</label>
        <input type="text" class="form-control">
      </div>
    <div class="form-group">
      <label>Scheduled Start</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Actual Start</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Ended</label>
      <input type="text" class="form-control">
    </div>
  </div>
  </div>

  <div class="card">
      <div class="card-body">
        <div class="card-title">Match Conditions</div>
    <div class="form-group">
      <label>Field Condition</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Weather</label>
      <input type="text" class="form-control">
    </div>
</div>
  </div>

  <div class="form-group">
    <label>Notes</label>
    <textarea class="form-control"></textarea>
  </div>
</form>